body {
    background-image: url(background_photo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-right: auto; margin-left: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    color: white;

}
.email, .password {
    width: 250px;
    color: white;
    text-align: left;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    padding-bottom: 6px;
    border-color: rgb(197, 197, 197);
    font-size: medium;


        background: transparent;
        backdrop-filter: blur(60px) brightness(100%);
}

::placeholder {
    margin-bottom: 50px;
    padding-left: 5px;
    color: white;
}
.continer {
    width: 22.5%;
    height: 500px;
    margin-right: auto; margin-left: auto;
    border-radius: 20px;
    border-color: aliceblue;
    margin-top: 100px;
    border: 1px solid black;
    background-color: white;
    /* position: absolute; */


        background: transparent;
        backdrop-filter: blur(6px) brightness(100%);
        border: none;
}
.form {
    height: fit-content;
    width: fit-content;
    margin-right: auto; margin-left: auto;
    text-align: left;
    /* position: relative; */
}

.button {
    background-color: rgb(185, 195, 196);
    margin-top: 40px;
    width: 100%;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white; /* or any other color you prefer */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 10px;

    transition: 4s ease-in-out;
}
.button:hover {
    background-color: red;
    /* height: 60px; */
    transition: 5s;

    /* transform: 120deg; */
    transform: rotate(1440deg);
}

.Forget, a {
    margin-right: auto; margin-left: auto;
    font-size: smaller;
    margin-top: 50px;
    /* color: gray; */
    text-align: center;
    margin-bottom: 0px;
}

p {
    color: white;
}
.signup {
    margin-right: auto; margin-left: auto;
    font-size: smaller;
    text-align: center;
    margin-bottom: 0px;
}
.password_email_error {
    /* padding-left: 50px; */
    font-weight: bold;
    text-align: center;
}

.checkbox-show-pass {
    color: white;
    margin-top: 10px;
}

.password-verification {
    font-size: 14.5px;
}


/* ******************************************************************************************* */

@media only screen and (max-width: 500px) {

    body {
        background-image: url(background_photo.jpg);
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }

    h1 {
        color: white;
        font-size: 55px;
    }

    .continer {
        width: 80%;
        height: 600px;
        margin-right: auto; margin-left: auto;
        border-radius: 20px;
        border-color: aliceblue;
        margin-top: 50px;
        border: 1px solid black;
        background-color: white;
        /* position: absolute; */
        background: transparent;
        backdrop-filter: blur(3px) brightness(100%);
        border: none;
    }

    .email, .password { 
        background: transparent;
        backdrop-filter: blur(2px) brightness(100%);
        border-bottom-color: white;
    }

    ::placeholder {
        color: white;
    }

    .Forget, .signup {
        color: white;
    }

    .Forget, .signup, a {
        font-size: 15px;
    }


    .password_email_error {
        padding-left: 50px;
        font-weight: bold;
    }

}